* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
 
  .header {
    grid-area: header;
    background-color:rgb(38, 51, 168);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    justify-content: flex-start;
    
  }
  img{
    justify-content: flex-start;
  }

  .grid-container {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'left middle middle middle middle right' 
      'footer footer footer footer footer footer';
    
  } 
  
  .left,
  .middle,
  .right {
    padding: 10px;
    height: 600px; 
  }
  
 
  .left {
    grid-area: left;
  }
  
 
  .middle {
    grid-area: middle;
  }
  

  .right {
    grid-area: right;
  }
  
  p{
    color: rgb(186, 206, 245);
  }
  .footer {
    grid-area: footer;
    background-color: rgb(34, 43, 129);
    padding: 10px;
    text-align: center;
    height: px;
  }
  

  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
  }

